<div class="container">
    <div class="jumbotron" >
        <h1 class="display-4">FestivAll</h1>
        <p class="lead" >Sign up to enjoy the community experience at your favorite festivals</p>
        <hr class="my-4">
        <p>Find the festival experience that's right for you!</p>
        <a class="btn btn-success btn-lg" href="/events" role="button">Search</a>
    </div> 
</div>